@font-face {
  font-family: "UbuntuCondensed";
  src: url("assets/fonts/UbuntuCondensed-Regular.ttf");
}
@font-face {
  font-family: "PlayfairDisplay";
  src: url("assets/fonts/PlayfairDisplay.ttf");
 
}

body {/*прижимаю футер*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,h2 { 
    font-family:PlayfairDisplay, serif;
    font-weight: 550;
    font-size: 26px;
    text-align:left;
    text-transform: uppercase;/*только заглавные*/
    letter-spacing: 1px;/*увеличение расстояния м/у символами*/
    line-height: 1.3;
    margin-bottom:0px;
    color: #9d1b1b;}
h3{ 
    font-family:UbuntuCondensed, sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align:left;
    text-transform: uppercase;/*только заглавные*/
    line-height: 1.3;
    margin-bottom:0px;
    margin-top:5px;
    color: #170707;}

 h4, p { 
    font-family:UbuntuCondensed, sans-serif;
    margin-top:5px;
    margin-bottom:5px;
    font-size: 22px;
    font-weight: 300;
    text-align:left;
    line-height: 1.3;
    color: #170707;}
h5{ 
    font-family:UbuntuCondensed, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align:left;
    line-height: 1.3;
    margin-bottom:0;
    margin-top:0;
    color: #170707;}

html {/*прокрутка плавнее*/
  scroll-behavior: smooth;
}

.rss {/*фото*/
  width: 150px;
  height: 150px;
  margin: 70px;
  margin-top:0px;
  margin-bottom:10px;
  background-image: url("1.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  border-radius: 50%;
  alignment-baseline:middle;
  border: 3px solid #9d1b1b;
}

.container {
  max-width: 1040px;
  text-align:center;
  margin: 35px;
}

.contact-list {
  list-style-position: include;
  font-family:UbuntuCondensed, sans-serif;
  font-size:16px;
  margin-top:5px;
  margin-bottom: 8px;
  text-align:left;
  color:#170707;
}
.nav-link {
  color:#170707;
  transition: color 0.3s ease;
}
.contact-list a:hover {
  color: #9d1b1b;
  text-decoration: none;
  transition: color 0.5s;
}

.contact-list2 {
  list-style-type:decimal;
  font-family:UbuntuCondensed, sans-serif;
  font-size:16px;
  margin-top:5px;
  margin-bottom: 8px;
  text-align:left;
  color:#170707;
}

/*сетка для страницы в main - 3*/
.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
}
/*при уменьшении экрана - адаптивность*/
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}